extends layout

block content
  h4 Restaurantes
  .row
    .col.s12.m9
      .card-panel
        table#table_cont.responsive-table.striped.centered
          thead
            tr
              th Id Restaurante
              th Nombre
              th Descripción
              th Dirección
              th Clasificación
              th Activo
          tbody
            each item in dataR
              tr
                td= item.idRestaurante
                td= item.nombre
                td= item.descripcion
                td= item.direccion
                td= item.clasificacion
                td= item.activo
    .col.s12.m3
      .row
        if alert.success
          .card-panel.green-text.text-accent-4#alert
            h5 #{alert.success}
              i.close.right.material-icons close
        if alert.error
          .card-panel.red-text.text-accent-4#alert
            h5 #{alert.error}
              i.close.material-icons close
        ul.collapsible(data-collapsible='accordion')
          li
            .collapsible-header
              i.material-icons add
              | Agregar Nuevo Restaurante
            .collapsible-body
              .row
                .col.s12
                  a.btn.green.darken-1(href='/count/new_restaurantCount') Aceptar

          li
            .collapsible-header
              i.material-icons delete
              | Eliminar Restaurante
            .collapsible-body
              form#formEliminar.center(method='post',action='/admin/restaurants/del_Restaurant')
                .input-field.col.s12
                  select.validate(name='selectDelRest',required)
                    option(value='', disabled, selected) Seleccionar
                    each item in dataR
                      option(value=item.idRestaurante)= item.nombre
                  label Restaurantes
                .col.s12
                  p ¿Está seguro que quiere eliminar al usuario?.
              button.btn.red(type='submit') Eliminar

          li
            .collapsible-header
              i.material-icons edit
              | Modificar Restaurante
            .collapsible-body
              form#formModificar.center(method='post',action='/admin/restaurants/update_Restaurant')
                .input-field.col.s12
                  select.validate(name='selectUpdRest',required)
                    option(value='', disabled, selected) Seleccionar
                    each item in dataR
                      option(value=item.idRestaurante)= item.nombre
                  label(for='selectUpdRest',data-error='Seleccione una opción') Restaurante
                .input-field.col.s12
                  input.validate(name='nameUpdate', type='text', required)
                  label(for='nameUpdate',data-error="Formato no valido") Nuevo nombre:
                .input-field.col.s12
                  input.validate(type='text', name='descriptionUpdate', required)
                  label(for='descriptionUpdate') Nueva Descripción
                .input-field.col.s12
                  input.validate(name='direccionUpdate', type='text', required)
                  label(for='direccionUpdate',data-error="Formato no valido") Nueva Dirección:
                .input-field.col.s12
                  select.validate(name='clasificacion',required)
                    option(value='', disabled, selected) Seleccionar
                    option Restaurante Gourmet
                    option Restaurante de especialidad
                    option Restaurante familiar
                    option Restaurante buffet
                    option Restaurante de comida rápida
                    option Comida para llevar
                  label Clasificación:
                button.btn.green.darken-1(type='submit') Modificar