extends layout

block content
  .slider
    ul.slides
      li
        img(src='images/p1.jpg')
        .caption.center-align
          h3 Tu eliges donde y que comer!!!
          h5.light.grey-text.text-lighten-3 Realiza tu reservaci贸n gratis.
      li
        img(src='images/p2.jpg')
        .caption.left-align
          h3 Conoce nuestras promociones!!!
          h5.light.grey-text.text-lighten-3 Obten un cupon gratis por registrarte.
      li
        img(src='images/p3.jpg')
        .caption.right-align
          h3 Tu eliges donde y que comer!!!
          h5.light.grey-text.text-lighten-3 Realiza tu reservaci贸n gratis.
      li
        img(src='images/p4.jpg')
        .caption.center-align
          h3 Conoce nuestras promociones!!!
          h5.light.grey-text.text-lighten-3 Obten un cupon gratis por registrarte.

  .row
    .search-wrapper
      form(method='post',action='/search')
        .input-field.col.s12.m6.offset-m3.white
          input#searchP(name='search',type="search",placeholder='Busca tu Platillo favorito', required,autofocus)
          i.material-icons search
          if message 
            p #{message}
              a.right(href='/search')
                i.material-icons close

  .row
    each item in dataP
      .col.s12.m6.l4
        .card.medium 
          .card-image
            img.materialboxed(src='images/platillos/'+item.imagen,alt='Platillo')
            a.btn-floating.halfway-fab.waves-effect.waves-light.red.large $ #{item.precio}
          .card-content
            span.card-title.activator.grey-text.text-darken-4= item.platillo
              i.material-icons.right more_vert
            p= item.nombre
            p.truncate= item.descripcion
          .card-reveal
            span.card-title.grey-text.text-darken-4 Descripci贸n
              i.material-icons.right close
            p= item.descripcion
          .card-action
            a(href="#") Ver platillo
  .row
    .container
      ul.collection.with-header
        if !session.idClient
          li.collection-header.orange.accent-1
            .row
              form(method='post',action='/comment')
                .input-field.col.s10
                  i.material-icons.prefix mode_edit
                  textarea.materialize-textarea(name='comentario',disabled)
                  label(for='comentario') Agregar un comentario
                button.btn.disabled Comentar
                h5: a.right(href='/login') Iniciar sesi贸n
        else
          li.collection-header.orange.accent-1
            .row
              form(method='post',action='/comment')
                .input-field.col.s10
                  i.material-icons.prefix mode_edit
                  textarea.materialize-textarea(name='comentario')
                  label(for='comentario') Agregar un comentario
                button.btn Comentar
          .divider
        each item in comments
          li.collection-item.avatar.orange.accent-1
            img.circle(src='images/p1.jpg')
            span.indigo-text.text-darken-4title #{item.nombre} 
              label  :: #{item.fecha} ::
              label  #{item.hora}
            p #{item.texto}
            a.secondary-content
              i.material-icons grade




