doctype html
htmls
  head
    title
    meta(http-equiv='X-UA-Compatible' content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    meta(http-equiv='Content-Type', content='text/html; charset=utf-8')
    link(href='/stylesheets/icons.css', rel='stylesheet', type='text/css')
    link(href='/stylesheets/materialize.min.css', rel='stylesheet', type='text/css')
    link(href='/stylesheets/style.css', rel='stylesheet', type='text/css')
    script(type='text/javascript', src='/javascripts/jquery.min.js')
    script(type='text/javascript', src='/javascripts/materialize.min.js')
    script(type='text/javascript', src='/javascripts/init.js')
    script.
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-119584536-1', 'choseat.herokuapp.com');
      ga('send', 'pageview');

  body(style="background: url(images/fondo.jpg); background-repeat: repeat;")
    header
      .navbar-fixed.nav-extended
        nav
          .nav-wrapper.red
            .container
              a.brand-logo(href='/'): img.responsive-img.circle(src='images/logo.jpeg', alt='Choseat',width='64')
              a.button-collapse(href='#', data-activates='mobile-demo') 
                i.material-icons menu
              ul#mobile-demo.side-nav
                li: a.active(href='/') Inicio
                li: a.dropdown-button(href='/restaurants', data-activates='dropdown1')   Restaurantes
                li: a(href='/contact') Contacto
                if session.userType == 'Cliente'
                  li
                    a.button-collapse(href='#',data-activates='slide-out')
                      i.material-icons add
                  li: a(href='/logout') Salir
                else
                  li: a(href='/register') Crear una cuenta
                  li: a(href='/login') Iniciar Sesión
              ul.right.hide-on-med-and-down
                li: a.active(href='/') Inicio
                li: a.dropdown-button(href='/restaurants', data-activates='dropdown1')   Restaurantes
                li: a(href='/about') ¿Quienes somos?
                li: a(href='/plans') Planes
                if session.userType == 'Cliente'
                  li
                    a.dropdown-button(data-activates='dropdown2') Perfil
                  li: a(href='/logout') Salir
                else
                  li: a(href='/register') Crear una cuenta
                  li: a(href='/login') Iniciar Sesión
          .nav-content
            p holas clas
    ul#dropdown1.dropdown-content
      li: a(href='/comida_tradicional') Comida Tradicional
      li: a(href='/comida_rapida') Comida Rápida
      li: a(href='/marisqueria') Marisqueria
      li: a(href='/comida_extranjera') Comida Extranjera
    ul#dropdown2.dropdown-content
      li: a.button-collapse(href='#',data-activates='slide-out') #{session.clientData.correo}

    main
      block content

    a.button-collapse(href='#', data-activates='slide-out') hola #{session.clientData.correo}
    ul#slide-out.side-nav
      li
        .user-view
          .background: img(src='images/portada_cliente.jpg')
          a: img.circle(src='images/cliente.jpg')
          a: span.amber-text.darken-4-text.name: h4 #{session.clientData.nombre}
          a: span.amber-text.darken-4-text.email: h6 #{session.clientData.correo}
      li: .divider
      li
        a(href='#!')
          i.material-icons cloud
          | Reservaciones
      li
        a(href='#!')
          i.material-icons cloud
          | Cupones

    footer.page-footer.red
      .container.center
        a.btn-floating.circle.white(href='https://www.facebook.com/choseat/')
          img.responsive-img(src='https://cdn.icon-icons.com/icons2/836/PNG/512/Facebook_icon-icons.com_66805.png')
        a.btn-floating.circle.white(href='https://twitter.com/ChoseatWeb')
          img.responsive-img(src='https://cdn.icon-icons.com/icons2/555/PNG/512/twitter_icon-icons.com_53611.png')
        a.btn-floating.circle.white(href='https://www.instagram.com/choseat.web')
          img.responsive-img(src='https://cdn.icon-icons.com/icons2/1211/PNG/512/1491580658-yumminkysocialmedia06_83104.png')
      .footer-copyright.red
        .container.center
          Copyright &copy 2018 Choseat. Todos los derechos reservados.
