extends layout

block content
  .container
    .parallax-container
      .parallax
        img(src='images/users/'+dataR.imagenPortada)
      .col.s12.m4
        .row
          .col.s12.m4
            .container
              img.circle.responsive-img(src='images/users/'+dataR.imagenPerfil)
              h5.center #{dataR.clasificacion}
              h5.header #{dataR.nombre}
              span.white-text.name
                if dataR.calificacion == 0
                  i.material-icons star_border
                else
                  - for (var x = 0; x < dataR.calificacion; x++)
                    i.material-icons.orange-text star_border
  .container
    .row
      .col.s12
        .card
          .card-tabs
            ul.tabs.tabs-fixed-width
              li.tab
                a.active(href='#test4') Platillos
              li.tab
                a(href='#test5') Información
              li.tab
                a(href='#test6') Cupones y promociones
          .card-content.grey.lighten-4
            #test4 
              .row
                each item in dataP
                  .col.s12.m6.l4
                    .card.small 
                      .card-image
                        img.materialboxed(src='images/platillos/'+item.imagen,alt='Platillo')
                        .card-title
                          .chip.amber: h6: strong $ #{item.precio}.00
                      .card-content
                        span.card-title.activator.grey-text.text-darken-4.truncate= item.nombre
                          i.material-icons.right more_vert
                      .card-reveal
                        span.card-title.grey-text.text-darken-4 #{item.nombre}
                          i.material-icons.right close
                        p= item.descripcion
                        h3.center
                          .chip.amber $ #{item.precio}.00

            #test5 
              .container
                .row
                  h4.center #{dataR.nombre}
                  .section
                    h5 Descripción:
                      i.material-icons.left.orange-text description
                    p #{dataR.descripcion}
                  .section
                    h5 Dirección:
                      i.material-icons.left.orange-text pin_drop
                    p #{dataR.direccion}
                  .section 
                    h5 Horarios:
                      i.material-icons.left.orange-text timer
                    each item in dataHours
                      p #{item.dInicio} a #{item.dFin} de #{item.hinicio} a #{item.hfin}
                  .section
                    h5 Teléfonos:
                     i.material-icons.left.orange-text contact_phone 
                    each item in dataPhones
                     p #{item.telefono}
            #test6 
              if(session.clientData)
                .row
                  each item in dataCou
                    .col.s12.m6.l4
                      .card.medium 
                        .card-image
                          img.materialboxed(src='../images/cupones/'+item.imagen,alt='Cupon')
                        .card-content
                          span.card-title.activator.grey-text.text-darken-4 Descubre el regalo
                          p Generado el #{item.emision}
                          p Vigente hasta #{item.vigencia}
                          p Descubre el contenido del cupon con tu celular.
              else
                h6 Inicia sesión para poder ver los cupones de este Restaurante.




