extends layout

block content
  h4 Pagos Realizados
  .row
    .col.s12.m6.right
      if alert.success
        h5.chip.white.green-text.text-accent-4.righ#alert #{alert.success}
          i.close.right.material-icons close
      if alert.error
        h5.chip.white.red-text.text-accent-4.right#alert #{alert.error}
          i.close.material-icons.right close
  .row
    .col.s12.m8.offset-m2
      .card-panel
        .row
          table#table_cont.responsive-table.display.centered
            thead
              tr
                th Id Pago
                th Fecha
                th Cantidad
            tbody
              each item in dataP
                tr
                  td= item.idPago
                  td= item.fecha
                  td= item.cantidad

  