extends layout

block content
  h2.blue-text Perfil del Restaurante
  .row
    p Información de Cuenta
    .col.s12
        if alert.success
          h6.green-text.text-accent-4.right#alert #{alert.success}
            i.close.right.material-icons close
        if alert.error
          h6.red-text.text-accent-4.right#alert  #{alert.error}
            i.close.material-icons close
  .divider
  .row
    .col.s12
      ul.tabs
        li.tab.col.s12.m4
          a.orange-text.active(href='#restData') Datos de Restaurante
        li.tab.col.s12.m4
          a.orange-text(href='#photosData') Fotos de Perfil
        li.tab.col.s12.m4
          a.orange-text(href='#subsData') Datos de Subscriptor
    #restData.col.s12
      .row
        .col.s12
          h1
        .col.s12
          form#formModificar.center(method='post',action='/adminRestaurant/update_Restaurant')
            .input-field.col.s12.m5
              input(type='text',name='nombreRestaurant',required,value=dataR.nombre,autofocus)
              label Nombre:
            .input-field.col.s12.m7
              input(type='text',name='descripcion',required,value=dataR.descripcion,autofocus)
              label Descripción:
            .input-field.col.s12.m7
              input(type='text',name='direccion',required,value=dataR.direccion,autofocus)
              label Dirección:
            .input-field.col.s12.m5
              select.validate(name='clasificacion',required)
                option(value='', disabled, selected) Seleccionar
                each item in dataC
                  if item === dataR.clasificacion 
                    option(selected)= item
                  else
                    option= item
              label Clasificación:
            button.btn.green.darken-1(type='submit') Actualizar
    #photosData.col.s12
      .row
        .col.s12.m6
          form#formModificar.center(method='post',action='/adminRestaurant/update_Perfil', enctype='multipart/form-data')
            .input-field.col.s12
              .file-field.input-field
                .btn.blue
                  input(type='file',name='imagenUpd')
                  | Imagen Perfil
                .file-path-wrapper
                  input.file-path.validate(type='text',required)
            button.btn.green.darken-1(type='submit') Actualizar
        .col.s12.m6
          form#formModificar.center(method='post',action='/adminRestaurant/update_Portada', enctype='multipart/form-data')
            .input-field.col.s12
              .file-field.input-field
                .btn.blue
                  input(type='file',name='imagenUp')
                  | Imagen Portada
                .file-path-wrapper
                  input.file-path.validate(type='text',required)
            button.btn.green.darken-1(type='submit') Actualizar
    #subsData.col.s12
      .row
        .col.s12
          h1
        .col.s12
          form#formModificar.center(method='post',action='/adminRestaurant/update_subscriptor')
            .input-field.col.s12.m2
              input(type='text',name='nameUpdate',required,value=dataS.nombre)
              label Nombre:
            .input-field.col.s12.m3
              input(type='text',name='apellidosUpdate',required,value=dataS.apellidos)
              label Apellidos:
            .input-field.col.s12.m3
              input(type='text',name='domicilioUpdate',required,value=dataS.domicilio)
              label Domicilio:
            .input-field.col.s12.m2
              input(type='text',name='telUpdate',required,value=dataS.telefono)
              label Teléfono:
            .input-field.col.s12.m2
              input.datepicker(type='text',name='fecha_nacUpdate',required,value=dataS.fecha_nac)
              label Fecha de Nacimiento:
            button.btn.green.darken-1(type='submit') Actualizar